.box-group > .card {
    margin-bottom: 5px;
}

.no-border {
    border: 0 !important;
}

.card-title {
    font-weight: 500;
    position: relative;
    margin: auto;
    width: auto !important;
    vertical-align: middle;
}

.icon-hide {
 display: none;
}

.add-padding {
  padding-left: 5px!important;
}


.card-header {
    padding: 2px!important;
    margin: 0px!important;
    vertical-align: middle !important;
}

.card-title {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;    
    justify-content: end;    
}


.card-header-icon {
  font-size: x-large;
}

.box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}