<div class="row">
  <div class="col-md-6 col-xs-12">
    <mk-box [isSolid]="true" styleClass="card card-primary" [isSolid] = "false" [isCollapsable]="false" [isRemovable]="false" header="Collapsible Accordion">
      <mk-accordion-group>        
        <mk-accordion header="Collapsible Group Item #1"                      
                      headerColor = "info"                       
                      headerColorHover ="yellow" 
                      headerFontIcon = "fas fa-smile-beam"
                      
                      headerFontColor = "#fff"                      
                      contentColor = "red" 
                      isOutline = "false"
                      isSolid ="false"
                      borderColor = "#000">         

          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Danger"  
                      headerColor = "danger"    
                      headerColorHover ="green" 
                      headerFontColor = "#B7E608"
                      borderColor = "danger" 
                      borderColor = "warning" 
                      headerFontIcon = "fa-th-list"
                      isOutline   = "false"
                      borderColor = "warning">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Success" headerFontIcon = "fa-th-list" headerColor = "success"   headerColorHover ="green"  borderColor="success" borderColor="info" isOutline   = "false">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
      </mk-accordion-group>
    </mk-box>
  </div>
  <div class="col-md-6 col-xs-12">
    <mk-box [isSolid]="true"  boxColor="#fff" [isCollapsable]="false" [isRemovable]="false" header="Collapsible Accordion Multiple">
      <mk-accordion-group [isMultiple]="true" [activeIndex]="activeIndex">
        <mk-accordion header="Collapsible Group Danger" borderColor="danger">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Warning" headerColor = "warning"  borderColor="warning" [isOutline] = "false">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Success" borderColor="primary" [isOutline] = "false">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
      </mk-accordion-group>
    </mk-box>
  </div>
</div>
