<ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
      <mk-layout-header>
        <app-header-inner></app-header-inner>
      </mk-layout-header>
  
      <mk-layout-sidebar-left>
        <!-- Brand Logo -->
        <a [routerLink]="['/']" class="brand-link">        
          <img src="assets/img/AdminLTELogo.png" alt="Counter" class="brand-image img-circle elevation-3" style="opacity: .8" />
          <span class="brand-text font-weight-light"><strong> Counter</strong></span>
        </a>
        <app-sidebar-left-inner></app-sidebar-left-inner>
      </mk-layout-sidebar-left>
  
      <mk-layout-sidebar-right>
        <app-sidebar-right-inner></app-sidebar-right-inner>
      </mk-layout-sidebar-right>
  
      <mk-layout-content>s
        <div mk-layout-content-before-header>
          <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
            <mk-material-bar></mk-material-bar>
          </div>
        </div>
        <router-outlet></router-outlet>
      </mk-layout-content>
  
      <mk-layout-footer>
        <mk-layout-footer-left>
          <strong>Powered by <a href="#"> {{ Company }}</a>.</strong>
        </mk-layout-footer-left>
        <mk-layout-footer-right>
          <b>Version</b> {{ systemVesion }}
        </mk-layout-footer-right>
      </mk-layout-footer>
      
  </mk-layout-wrapper>

</ng-template>